.choosing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-blend-mode: darken;
  background-position: center;
}

.driver {
  border: 1px solid black;
  border-radius: 20px;
  padding: 5em 10em;
  background-color: white;
}
.passenger {
  border: 1px solid black;
  border-radius: 20px;
  padding: 5em 9em;
  margin: 1em 0;
  background-color: white;
}
.choosing-btn {
  color: white;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  border-radius: 20px;
  background-color: #ea0a0b;
  cursor: pointer;
}
.choosing-btn:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
